* {
    box-sizing: content-box;
}

#nav-bar {
    position: static;
    left: 0px;
    top: 0px;
    background-color: #bba3a2;
}

#nav-bar ul {
    list-style: none;
    position: static;
    left: 0px;
    top: 0px;
    margin: 0px;
    padding: 0px;
}

#logo {
    padding-left: 20px;
    padding-right: 40px;

}

#nav-bar li {
    display: inline-block;
    font-size: 20px;
    margin: 1px;
}
