* {
    box-sizing: content-box;
}

#nav-bar {
    position: static;
    left: 0px;
    top: 0px;
    background-color: #bba3a2;
    
    ul {
        list-style: none;
        position: static;
        left: 0px;
        top: 0px;
        margin: 0px;
        padding: 0px;
        margin-right: 10px;
        
        #logo {
            padding-left: 20px;
            padding-right: 80px;
        
        }
        
        li {
            display: inline-block;
            font-size: 20px;
            margin: 1px;
            padding: 0px 40px 0px 0px;
        }
    }

}


