<div class="main-divider"></div>
<div id="breadcrumbs">
  <a routerLink="">Home</a>
  >>
  <a routerLink="">Tag</a>
  >>
  <a>Book</a>
</div>
<div id="container-head">
  <div id="container-img">
    <img id="book-cover" src="../../assets/mock_items/1.jpg">
  </div>
  <div id="container-text">
    <p id="title">Title is here</p>
    <img id="rating" src="../../assets/icons/five_star.png">
    <p id="UPC">UPC</p>
    <p id="price_USD">$20.22</p>
    <p id="availability">In stock (99 available)</p>
    <p id="tag">Tag</p>
  </div>
</div>
<div id="product-description" class="section">
    <h1 class="sub-header">Description</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rutrum augue vel massa malesuada blandit. Suspendisse ac urna risus. Donec gravida condimentum rhoncus. Praesent vel ex et risus porttitor blandit. Morbi ut ornare elit. Vivamus non mattis mi, vel tempus enim. Aliquam volutpat mattis metus, ut convallis lacus vehicula ac. Morbi blandit nec urna id gravida. In feugiat fringilla consequat. Sed in erat in nulla sagittis tempus sit amet sit amet nisl. Suspendisse eget mi fermentum, tincidunt nisi sit amet, venenatis est. Praesent vitae lacus interdum, imperdiet enim sit amet, auctor ligula. In viverra efficitur ante, quis facilisis augue fringilla et. Maecenas tincidunt risus sit amet sodales convallis.
    Mauris sed nisi at lacus pretium sollicitudin. Aenean vehicula ipsum blandit enim elementum, quis tincidunt metus lobortis. Praesent molestie condimentum risus, blandit mollis arcu tincidunt vel. Fusce at erat in odio facilisis auctor. Aliquam id placerat mi, et condimentum enim. Quisque ut quam volutpat, euismod diam eget, porta leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tristique sem a justo pulvinar interdum. Nulla tristique interdum sapien, ut congue lorem semper eget. </p>
</div>

<div id="product-information" class="section">
  <h1 class=sub-header>Product Information</h1>
  <table class="display">
    <tr>
      <td>Rating</td>
      <td><img id="rating" src="../../assets/icons/five_star.png"></td>
    </tr>
    <tr>
      <td>UPC</td>
      <td>q4tgvwfe</td>
    </tr>
    <tr>
      <td>Price</td>
      <td>$20.22</td>
    </tr>
    <tr>
      <td>Availability</td>
      <td>99 available</td>
    </tr>
    <tr>
      <td>Tag</td>
      <td>Tag</td>
    </tr>
  </table>
</div>