Different roles in the website:
	- Guest buyer
	- Buyer
	- Seller
	- Admin

Basic features:
	- Should be able to search products by Title or other available details.
	- Should have a wishlist.
	- Should be able to update account information.

Purchasing books:
	- Should be able to do CRUD methods in the cart.
	- Should be able to input payment methods.
	- Should be able to view past purchases.

Other features:
	- Should recommend books based on recent purchases.
	- Should be able to track user activity for analytics.