<div class="container">
  <div id="registered-user" class="sign-in-form">
    <h2>
      Sign In
    </h2>
    <form>
      <table>
        <tr>
          <td>
            Email Address:
          </td>
          <td>
            <input type="text">
          </td>
        </tr>
        <tr>
          <td>
            Password:
          </td>
          <td>
            <input type="password">
          </td>
        </tr>
      </table>
      <button type="submit">Sign In</button>
    </form>
  </div>
  <span id="or">OR</span>
  <div id="guest" class="sign-in-form">
    <h2>
      Continue as Guest
    </h2>
    <form>
      <table>
        <tr>
          <td>
            Email Address:
          </td>
          <td>
            <input type="text">
          </td>
        </tr>
        <tr>
          <td>
            Confirm Email Address:
          </td>
          <td>
            <input type="text">
          </td>
        </tr>
        <tr>
        </tr>
      </table>
      <div id="checkbox">
      <input type="checkbox" value="subscribe">Subscribe to receive great deals and promotions.
      </div>
      <button type="submit">Continue</button>
    </form>
  </div>
</div>