<div id="img-carousel">
    <p><a id="prev-carousel"><</a></p>
    <p>Insert image carousel here.</p>
    <p><a id="next-carousel">></a></p>
</div>
<div class="card">
  <h1>Shop by Category</h1>
  <p>Discover a wide selection of books here in Libreria!</p>
  <div class="gallery">
    <div class="gallery-pics" *ngFor="let category of categories">
      <span>{{category}}</span>
      <a [routerLink]="['/search']" [queryParams]="{tag: category}"><img src="../../assets/landing/shop_by_category/test.jpg"></a>
    </div>
  </div>
</div>
<div class="card">
  <h1>Some books you might like</h1>
  <table class="catalog">
    <tr *ngFor="let book of booksYouMightLike">
      <td class="catalog-img">
        <a [routerLink]="['book', book['product_id']]">
          <img src="../../assets/book_covers/{{book['UPC']}}.jpg">
        </a>
      </td>
      <td class="catalog-text">
        <a [routerLink]="['book', book['product_id']]">
          <span class="title">{{book['title']}}</span>
        </a>
        <p class="description">{{book['product_desc']}}</p>
      </td>
    </tr>
    
  </table>
</div>