<div id="img-carousel">
    <p><a id="prev-carousel"><</a></p>
    <p>Insert image carousel here.</p>
    <p><a id="next-carousel">></a></p>
</div>
<div class="card">
  <h1>Shop by Category</h1>
  <p>Discover a wide selection of books here in Libreria!</p>
  <div class="gallery">
    <div class="gallery-pics">
      <span>Category 1</span>
      <a routerLink=""><img src="../../assets/landing/shop_by_category/test.jpg"></a>
    </div>
    <div class="gallery-pics">
      <span>Category 2</span>
      <a routerLink=""><img src="../../assets/landing/shop_by_category/test.jpg"></a>
    </div>
    <div class="gallery-pics">
      <span>Category 3</span>
      <a routerLink=""><img src="../../assets/landing/shop_by_category/test.jpg"></a>
    </div>
    <div class="gallery-pics">
      <span>Category 4</span>
      <a routerLink=""><img src="../../assets/landing/shop_by_category/test.jpg"></a>
    </div>
    <div class="gallery-pics">
      <span>Category 5</span>
      <a routerLink=""><img src="../../assets/landing/shop_by_category/test.jpg"></a>
    </div>
    <div class="gallery-pics">
      <span>Category 6</span>
      <a routerLink=""><img src="../../assets/landing/shop_by_category/test.jpg"></a>
    </div>
  </div>
</div>
<div class="card">
  <h1>Some books you might like</h1>
  <div class="catalog">
    <tr>
      <td class="catalog-img">
        <a routerLink="">
          <img src="../../assets/landing/you_might_like/1.jpg">
        </a>
      </td>
      <td class="catalog-text">
        <a routerLink="">
          <span class="title">The Unwanteds: Island of Dragons</span>
        </a>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean convallis orci magna, non maximus orci ullamcorper vel. Quisque a pellentesque nisl. Curabitur rhoncus mi sit amet ligula laoreet, ac varius diam laoreet. Mauris quis elit imperdiet tortor egestas vulputate placerat eu mauris. Vivamus sollicitudin nisi at eros consectetur tincidunt. Morbi vel egestas turpis, vitae congue metus.</p>
      </td>
    </tr>
    <tr>
      <td class="catalog-img">
        <a routerLink="">
          <img src="../../assets/landing/you_might_like/2.jpg">
        </a>
      </td>
      <td class="catalog-text">
        <a routerLink="">
          <span class="title">Kierkegaard: A Christian Missionary to Christians</span>
        </a>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean convallis orci magna, non maximus orci ullamcorper vel. Quisque a pellentesque nisl. Curabitur rhoncus mi sit amet ligula laoreet, ac varius diam laoreet. Mauris quis elit imperdiet tortor egestas vulputate placerat eu mauris. Vivamus sollicitudin nisi at eros consectetur tincidunt. Morbi vel egestas turpis, vitae congue metus.</p>
      </td>
    </tr>
    <tr>
      <td class="catalog-img">
        <a routerLink="">
          <img src="../../assets/landing/you_might_like/3.jpg">
        </a>
      </td>
      <td class="catalog-text">
        <a routerLink="">
          <span class="title">Dark Lover</span>
        </a>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean convallis orci magna, non maximus orci ullamcorper vel. Quisque a pellentesque nisl. Curabitur rhoncus mi sit amet ligula laoreet, ac varius diam laoreet. Mauris quis elit imperdiet tortor egestas vulputate placerat eu mauris. Vivamus sollicitudin nisi at eros consectetur tincidunt. Morbi vel egestas turpis, vitae congue metus.</p>
      </td>
    </tr>
    <tr>
      <td class="catalog-img">
        <a routerLink="">
          <img src="../../assets/landing/you_might_like/4.jpg">
        </a>
      </td>
      <td class="catalog-text">
        <a routerLink="">
          <span class="title">A Mother's Reckoning</span>
        </a>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean convallis orci magna, non maximus orci ullamcorper vel. Quisque a pellentesque nisl. Curabitur rhoncus mi sit amet ligula laoreet, ac varius diam laoreet. Mauris quis elit imperdiet tortor egestas vulputate placerat eu mauris. Vivamus sollicitudin nisi at eros consectetur tincidunt. Morbi vel egestas turpis, vitae congue metus.</p>
      </td>
    </tr>
    <tr>
      <td class="catalog-img">
        <a routerLink="">
          <img src="../../assets/landing/you_might_like/5.jpg">
        </a>
      </td>
      <td class="catalog-text">
        <a routerLink="">
          <span class="title">Why The Right Went Wrong</span>
        </a>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean convallis orci magna, non maximus orci ullamcorper vel. Quisque a pellentesque nisl. Curabitur rhoncus mi sit amet ligula laoreet, ac varius diam laoreet. Mauris quis elit imperdiet tortor egestas vulputate placerat eu mauris. Vivamus sollicitudin nisi at eros consectetur tincidunt. Morbi vel egestas turpis, vitae congue metus.</p>
      </td>
    </tr>
  </div>
</div>