<div>
  <span>
    <a routerLink="/checkout/login" 
    [style.pointer-events]="logInDisabled ? 'none' : 'auto'"
    [style.text-decoration]="logInDisabled ? 'none' : 'auto'">
      Sign In
    </a> /
    <a routerLink="/checkout/shipping-and-payment"
    [style.pointer-events]="shippingAndPaymentDisabled ? 'none' : 'auto'"
    [style.text-decoration]="shippingAndPaymentDisabled ? 'none' : 'auto'">
      Shipping & Payment
    </a> / 
    <a routerLink="/checkout/place-order"
    [style.pointer-events]="placeOrderDisabled ? 'none' : 'auto'"
    [style.text-decoration]="placeOrderDisabled ? 'none' : 'underline'">
      Place Order
    </a>
  </span>
</div>
<router-outlet>