<div>
  <span>
    <a [routerLink]="['/checkout','login']"
    routerLinkActive="active-link"
    [style.pointer-events]="logInDisabled ? 'none' : 'auto'"
    [style.text-decoration]="logInDisabled ? 'none' : 'underline'">
      Log In
    </a> /
    <a routerLink="['/checkout', 'shipping-and-payment']"
    routerLinkActive="active-link"
    [style.pointer-events]="shippingAndPaymentDisabled ? 'none' : 'auto'"
    [style.text-decoration]="shippingAndPaymentDisabled ? 'none' : 'underline'">
      Shipping & Payment
    </a> / 
    <a routerLink="['/checkout', 'place-order']"
    routerLinkActive="active-link"
    [style.pointer-events]="placeOrderDisabled ? 'none' : 'auto'"
    [style.text-decoration]="placeOrderDisabled ? 'none' : 'underline'">
      Place Order
    </a>
  </span>
</div>
<router-outlet>