<h1>Review Your Order</h1>
<form>
  <div class="item-details flat-card">
    <h1>Your Cart</h1>
    Insert all the items here.
  </div>
  <div id="contact-details" class="flat-card">
    <h1>Contact Details</h1>
    <table>
      <tr>
        <td>First Name:</td>
        <td>Insert text here</td>
      </tr>
      <tr>
        <td>Last Name:</td>
        <td>Insert text here</td>
      </tr>
      <tr>
        <td>Email Address:</td>
        <td>
          Insert text here
        </td>
      </tr>
      <tr>
        <td>Phone Number:</td>
        <td>Insert text here</td>
      </tr>
    </table>
  </div>
  <div id="shipping-address" class="flat-card">
    <h1>Shipping Address</h1>
    <table>
      <tr>
        <td>Street Address:</td>
        <td>Insert text here</td>
      </tr>
      <tr>
        <td>City:</td>
        <td>Insert text here</td>
      </tr>
      <tr>
        <td>State:</td>
        <td>Insert text here</td>
      </tr>
      <tr>
        <td>Zip Code:</td>
        <td>Insert text here</td>
      </tr>
      <tr>
        <td>Country:</td>
        <td>Insert text here</td>
      </tr>
    </table>
  </div>
  <div id="Payment Method" class="flat-card">
    <h1>Payment Method</h1>
    <table>
      <tr>
        <td>Name on Card</td>
        <td>Insert text here</td>
      </tr>
      <tr>
        <td>Credit Card Number</td>
        <td>Insert text here</td>
      </tr>
      <tr>
        <td>Exp Month</td>
        <td>Insert text here</td>
      </tr>
      <tr>
        <td>Exp Year</td>
        <td>Insert text here</td>
      </tr>
      <tr>
        <td>CVV</td>
        <td>Insert text here</td>
      </tr>
      <tr>
      </tr>
    </table>
    <h1>Billing Address</h1>
    <table>
      <tr>
        <td>Street Address:</td>
        <td>Insert text here</td>
      </tr>
      <tr>
        <td>City:</td>
        <td>Insert text here</td>
      </tr>
      <tr>
        <td>State:</td>
        <td>Insert text here</td>
      </tr>
      <tr>
        <td>Zip Code:</td>
        <td>
          Insert text here
        </td>
      </tr>
      <tr>
        <td>Country:</td>
        <td>Insert text here</td>
      </tr>
    </table>
    <button>Confirm & Place Order</button>
  </div>
</form>


