<h1>Review Your Order</h1>
<form>
  <div class="item-details flat-card">
    <h1>Your Cart</h1>
    <ol>
      <li *ngFor="let book of cartService.cartItems">
        <span class="title">{{book.title}}</span>
        <span class="price">{{book.price_USD | currency}}</span>
      </li>
    </ol>
    <span id="total"><b>Total: {{cartService.total | currency}}</b></span>
  </div>
  <div id="contact-details" class="flat-card">
    <h1>Contact Details</h1>
    <table>
      <tr>
        <td>Name:</td>
        <td>{{checkoutService.checkoutForm.contactDetails.firstName + ' ' + checkoutService.checkoutForm.contactDetails.lastName}}</td>
      </tr>
      <tr>
        <td>Email Address:</td>
        <td>
          {{checkoutService.checkoutForm.contactDetails.emailAddress}}
        </td>
      </tr>
      <tr>
        <td>Phone Number:</td>
        <td>{{checkoutService.checkoutForm.contactDetails.phoneNumber}}</td>
      </tr>
    </table>
  </div>
  <div id="shipping-address" class="flat-card">
    <h1>Shipping Address:</h1>
    <p>
      {{checkoutService.checkoutForm.shippingAddress.streetAddress}}<br>
      {{checkoutService.checkoutForm.shippingAddress.city}}, 
      {{checkoutService.checkoutForm.shippingAddress.state}} 
      {{checkoutService.checkoutForm.shippingAddress.zipCode}}<br>
      {{checkoutService.checkoutForm.shippingAddress.country}}
    </p>
    </div>
  <div id="Payment Method" class="flat-card">
    <h1>Payment Method</h1>
    <table>
      <tr>
        <td>Name on Card</td>
        <td>{{checkoutService.checkoutForm.paymentMethod.nameOnCard}}</td>
      </tr>
      <tr>
        <td>Credit Card Number</td>
        <td>{{checkoutService.checkoutForm.paymentMethod.creditCardNumber}}</td>
      </tr>
      <tr>
        <td>Exp Month/Exp Year</td>
        <td>{{checkoutService.checkoutForm.paymentMethod.expMonth}}/{{checkoutService.checkoutForm.paymentMethod.expYear}}</td>
      </tr>
      <tr>
        <td>CVV</td>
        <td>{{checkoutService.checkoutForm.paymentMethod.CVV}}</td>
      </tr>
      <tr>
      </tr>
    </table>
    <h1>Billing Address</h1>
    <p *ngIf="checkoutService.checkoutForm.paymentMethod.billingAddress.isSameAddress; else elseBlock">
      {{checkoutService.checkoutForm.shippingAddress.streetAddress}}<br>
      {{checkoutService.checkoutForm.shippingAddress.city}}, 
      {{checkoutService.checkoutForm.shippingAddress.state}} 
      {{checkoutService.checkoutForm.shippingAddress.zipCode}}<br>
      {{checkoutService.checkoutForm.shippingAddress.country}}
    </p>
    <ng-template #elseBlock>
      {{checkoutService.checkoutForm.paymentMethod.billingAddress.streetAddress}}<br>
      {{checkoutService.checkoutForm.paymentMethod.billingAddress.city}}, 
      {{checkoutService.checkoutForm.paymentMethod.billingAddress.state}} 
      {{checkoutService.checkoutForm.paymentMethod.billingAddress.zipCode}}<br>
      {{checkoutService.checkoutForm.paymentMethod.billingAddress.country}}
    </ng-template>
    <button (click)="submitForm()" [disabled]="disabledButton">Confirm & Place Order</button>
  </div>
</form>