<div id="nav-bar">
  <a routerLink="" id="logo"><img src="../../assets/small_logo.png"></a>
  <a routerLink="" class="nav">Books</a>
  <a routerLink="" class="nav">Bargains</a>
  <a routerLink="" class="nav">Explore</a>
  <div>
  </div>
  <div id="login-bar">
    <a routerLink="">Hi! Sign In</a>
  </div>
  <div id="cart">
    <a routerLink="/cart"><img src="../../assets/icons/shopping_cart.svg" height="45px">
      <span>(n)</span>
    </a>
  </div>
</div>
<form #searchForm="ngForm" (ngSubmit)="onClickSubmit(searchForm.value)">
  <div id="search-container">  
    <input type="text" id="search-bar" placeholder="Search by Title or UPC number" name="keywords" ngModel>
    <input type="image" id="search-button" src="../../assets/icons/search.svg" height="56px">
  </div>
</form>