<h1>Your Shopping Cart</h1>
<div class="cart-empty" *ngIf="items.length === 0">
  <h2>Your cart is currently empty.</h2>
</div>
<div class="cart-not-empty">
  <h2>Items in your cart</h2>
  <form>
   <ol>
      <li *ngFor="let item of items">
        <div class="item-update-section">
          <h3>{{item.price_USD | currency}}</h3>
          <span class="quantity-section">Qty
            <input type="text">
            <button class="update" type="submit">Update</button>
          </span>
        </div>
        <div class="item-details-section">
          <h3>{{item.title}}</h3>
          <div class="img-container">
            <img src="../../assets/book_covers/{{item.UPC}}.jpg">
          </div>
        </div>
      </li>
      <button class="checkout" routerLink="/checkout">Proceed to Checkout</button>
    </ol>
  </form>
</div>