.cart {
  display: grid;
  width: 800px;
  border: 2px solid rgba(0,0,0,0.2);
  margin: 50px auto;
  padding: 20px;

  .img-container {
    img {
      height: 250px;
    }
  }

  .item-price {
    float: right;
    padding-right: 60px;

    h3 {
      margin: 0px;
    }

    &.subtotal {
      font-size: 20px;
    }
  }
}

h1 {
  margin: 40px 80px;
}

button {
  margin-right: 40px;
  margin-bottom: 20px;
  justify-self: flex-end;
}