<h1>Your Shopping Cart</h1>
<div class="cart" *ngIf="items?.length === 0; else elseBlock">
  <h3>Your cart is currently empty.</h3>
</div>
<ng-template #elseBlock>
  <div class="cart">
    <h2>Items in your cart</h2>
    <ol>
      <li *ngFor="let item of items">
        <div class="item-price">
          <h3>{{item.price_USD | currency}}</h3>
        </div>
        <div class="item-details-section">
          <h3>{{item.title}}</h3>
          <div class="img-container">
            <img src="../../assets/book_covers/{{item.UPC}}.jpg">
          </div>
        </div>
      </li>
      <div class="item-price subtotal">
        <h3>Subtotal: {{total | currency}}</h3>
      </div>
    </ol>
    <button class="checkout-btn" [routerLink]="['/checkout']">Proceed to Checkout</button>
  </div>
</ng-template>