<form>
  <div id="product-summary">
    <h2>Items:</h2>
      <div class="item">
        <span class="quantity"> QTY
          <input type="text">X
        </span>
        <img src="../../assets/book_covers/0072b94dfa30608e.jpg">
        <div class="text">
          <span>This is the title</span>
          <span>$12.12</span>
          <button>Update Cart</button>
        </div>
      </div>
  </div>
</form>
<div>
</div>
<form [formGroup]="checkoutFormControl" (ngSubmit)="onSubmit()">
  <div id="contact-details" class="flat-card" formGroupName="contactDetails">
    <h1>Contact Details</h1>
    <table>
      <tr>
        <td>First Name:</td>
        <td>
          <input type="text" formControlName="firstName">
        </td>
      </tr>
      <tr>
        <td></td>
        <td class="error-msg">
          {{errorMessageObsObj['contactDetails firstName'] | async}}
        </td>
      </tr>
      <tr>
        <td>Last Name:</td>
        <td><input type="text" formControlName="lastName"></td>
      </tr>
      <tr>
        <td></td>
        <td class="error-msg">
          {{errorMessageObsObj['contactDetails lastName'] | async}}
        </td>
      </tr>
      <tr>
        <td>Email Address:</td>
        <td>
          <input type="text" formControlName="emailAddress">
        </td>
      </tr>
      <tr>
        <td></td>
        <td class="error-msg">
          {{errorMessageObsObj['contactDetails emailAddress'] | async}}
        </td>
      </tr>
      <tr>
        <td>Phone Number:</td>
        <td><input type="text" formControlName="phoneNumber"></td>
      </tr>
      <tr>
        <td></td>
        <td class="error-msg">
          {{errorMessageObsObj['contactDetails phoneNumber'] | async}}
        </td>
      </tr>
    </table>
  </div>
  <div id="shipping-address" class="flat-card" formGroupName="shippingAddress">
    <h1>Shipping Address</h1>
    <table>
      <tr>
        <td>Street Address:</td>
        <td><input type="text" formControlName="streetAddress"></td>
      </tr>
      <tr>
        <td></td>
        <td class="error-msg">
          {{errorMessageObsObj['shippingAddress streetAddress'] | async}}
        </td>
      </tr>
      <tr>
        <td>City:</td>
        <td><input type="text" formControlName="city"></td>
      </tr>
      <tr>
        <td></td>
        <td class="error-msg">
          {{errorMessageObsObj['shippingAddress city'] | async}}
        </td>
      </tr>
      <tr>
        <td>State:</td>
        <td>
          <select formControlName="state">
            <option>Select State</option>
          </select>
        </td>
      </tr>
      <tr>
        <td></td>
        <td class="error-msg">
          {{errorMessageObsObj['shippingAddress state'] | async}}
        </td>
      </tr>
      <tr>
        <td>Zip Code:</td>
        <td>
          <input type="text" formControlName="zipCode">
        </td>
      </tr>
      <tr>
        <td></td>
        <td class="error-msg">
          {{errorMessageObsObj['shippingAddress zipCode'] | async}}
        </td>
      </tr>
      <tr>
        <td>Country:</td>
        <td>
          <select type="text" formControlName="country">
            <option>Select Country</option>
          </select>
        </td>
      </tr>
      <tr>
        <td></td>
        <td class="error-msg">
          {{errorMessageObsObj['shippingAddress country'] | async}}
        </td>
      </tr>
    </table>
  </div>
  <div id="Payment Method" class="flat-card" formGroupName="paymentMethod">
    <h1>Payment Method</h1>
    <table>
      <tr>
        <td>Name on Card</td>
        <td><input type="text" formControlName="nameOnCard"></td>
      </tr>
      <tr>
        <td></td>
        <td class="error-msg">
          {{errorMessageObsObj['paymentMethod nameOnCard'] | async}}
        </td>
      </tr>
      <tr>
        <td>Credit Card Number</td>
        <td><input type="text" formControlName="creditCardNumber"></td>
      </tr>
      <tr>
        <td></td>
        <td class="error-msg">
          {{errorMessageObsObj['paymentMethod creditCardNumber'] | async}}
        </td>
      </tr>
      <tr>
        <td>Exp Month</td>
        <td><input type="text" formControlName="expMonth"></td>
        <td>Exp Year</td>
        <td><input type="text" formControlName="expYear"></td>
        <td>CVV</td>
        <td><input type="text" formControlName="CVV"></td>
      </tr>
      <tr>
        <td></td>
        <td class="error-msg">
          {{errorMessageObsObj['paymentMethod expMonth'] | async}}
        </td>
        <td></td>
        <td class="error-msg">
          {{errorMessageObsObj['paymentMethod expYear'] | async}}
        </td>
        <td></td>
        <td class="error-msg">
          {{errorMessageObsObj['paymentMethod CVV'] | async}}
        </td>
      </tr>
      <tr>
      </tr>
    </table>
    <h1>Billing Address</h1>
    <div formGroupName="billingAddress">
    <input type="checkbox" formControlName="isSameAddress">Billing address is the same as the Shipping Address.
      <div [hidden]="this.getFormControl('paymentMethod', 'billingAddress', 'isSameAddress').value">
        <table>
          <tr>
            <td>Street Address:</td>
            <td><input type="text" formControlName="streetAddress" ></td>
          </tr>
          <tr>
            <td></td>
            <td class="error-msg">
              {{errorMessageObsObj['paymentMethod billingAddress streetAddress'] | async}}
            </td>
          </tr>
          <tr>
            <td>City:</td>
            <td><input type="text" formControlName="city" ></td>
          </tr>
          <tr>
            <td></td>
            <td class="error-msg">
              {{errorMessageObsObj['paymentMethod billingAddress city'] | async}}
            </td>
          </tr>
          <tr>
            <td>State:</td>
            <td>
              <select formControlName="state" >
                <option>Select State</option>
              </select>
            </td>
          </tr>
          <tr>
            <td></td>
            <td class="error-msg">
              {{errorMessageObsObj['paymentMethod billingAddress state'] | async}}
            </td>
          </tr>
          <tr>
            <td>Zip Code:</td>
            <td>
              <input type="text" formControlName="zipCode" >
            </td>
          </tr>
          <tr>
            <td></td>
            <td class="error-msg">
              {{errorMessageObsObj['paymentMethod billingAddress zipCode'] | async}}
            </td>
          </tr>
          <tr>
            <td>Country:</td>
            <td>
              <select type="text" formControlName="country" >
                <option>Select Country</option>
              </select>
            </td>
          </tr>
          <tr>
            <td></td>
            <td class="error-msg">
              {{errorMessageObsObj['paymentMethod billingAddress country'] | async}}
            </td>
          </tr>
        </table>
      </div>
    </div>
    <button type="submit" [disabled]="checkoutFormControl.invalid">Continue</button>
    <!-- <button type="submit">For Testing Only</button> -->
  </div>
</form>