div {
  text-align: center;
    ul {
    list-style: none;
    
    li {
      display: inline;
      font-size: 22px;
      padding: 0px 35px;
      border-right: 1pt solid gray;;
      
    }

    li:first-child {
      border-left: 1pt solid gray;
    }
  }
}