<div id="footer">
  <div id="subscribe">
    <h1>Subscribe now for coupons, great deals and more!</h1>
    <div id="subscribe-container">
      <form id="subscribe-form">
        <input id="subscribe-text" type="text" name="search" placeholder="Enter your email for a coupon!">
        <input id="subscribe-button" type="button" value="Sign Up">
      </form>
    </div>
  </div>
  <div class="divider">
    |
  </div>
  <div id="follow-us">
    <h1>
      Follow Us
    </h1>  
    <div id="social-media">
      <a href=""><img src="../../assets/follow_us/facebook.png" height=80px></a>
      <a href=""><img src="../../assets/follow_us/twitter.png" height=80px></a>
      <a href=""><img src="../../assets/follow_us/pinterest.png" height=80px></a>
    </div>
  </div>
</div>