@font-face {
    font-family: Muli;
    src: url(./assets/font/Muli-Regular.ttf);
  }


* {
    font-family: Muli;
    box-sizing: content-box;
}

body {
    margin: 0px;
    padding: 0px;
}

#breadcrumbs {
    margin: 30px auto 10px 30px;
    font-size: 15px;
}

.card {
  width: 1000px;
  margin: 60px auto 60px auto;
  padding: 60px;
  border: solid 1px;
  border-radius: 3px;
  background-color: lightgray;
  box-shadow: black 2px 2px;
  
  h1 {
      margin: 0px;
      font-size: 40px;
  }

  p {
      margin-left: 30px;
      font-size: 24px;
  }
}

.flat-card {
  font-size: 18px;
  width: 1000px;
  margin: 10px 40px;
  padding: 20px;
  border: solid 1px gray;
  border-radius: 2px;
  background-color: lightgray;
  
  h1 {
      margin: 0px 0px 15px 0px;
      font-size: 30px;
  }

  td {
    padding: 5px;
    
    * {
      font-size: 15px;
      padding: 6px 4px;
    }
    
  }
}

.main-divider {
    margin: 50px 80px 20px 80px;
    border-top: 1pt solid lightgray;
  }

.centering {
    text-align: center;
}

table.display {
  border-collapse: collapse;
  width: 100%;

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
}

.pagination {
  text-align: center;
  margin: 30px 0px;

  .page-number {
    font-size: 20px;
    margin: 0px 5px;
  }
}

input.cart {
  margin-top: 8px;
  height: 35px;
  background-color: gold;
  border-style: none;
  border-radius: 3px;
  font-size: 18px;
  box-shadow: 1pt 1pt rgba(0,0,0,0.5);
}


input.ng-invalid.ng-dirty.ng-touched {
  border-color: red;
}

.error-msg {
  // padding: 0px 6px 2px 6px;
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  color: red;
}