<div class="main-divider"></div>
<div id="grid">
  <div id="filter">
    <form #filterForm="ngForm" (ngSubmit)="onClickSubmit(filterForm)">
      <p>Filter by:</p>
      <div id="Tag">
        <p>Tag</p>
        <select name="tag" ngModel>
          <option selected>--Select Tag--</option>
          <option *ngFor="let tag of tags">{{tag.toString()}}</option>
        </select>
      </div>
      <div id="rating">
        <p>Rating:</p>
        <tr>
          <td><input type="radio" name="rating" value="5" ngModel></td>
          <td><img src="../../assets/icons/star_5.png"><span> & up</span></td>
        </tr>
        <tr>
          <td><input type="radio" name="rating" value="4" ngModel></td>
          <td><img src="../../assets/icons/star_4.png"><span> & up</span></td>
        </tr>
        <tr>
          <td><input type="radio" name="rating" value="3" ngModel></td>
          <td><img src="../../assets/icons/star_3.png"><span> & up</span></td>
        </tr>
        <tr>
          <td><input type="radio" name="rating" value="2" ngModel></td>
          <td><img src="../../assets/icons/star_2.png"><span> & up</span></td>
        </tr>
        <tr>
          <td><input type="radio" name="rating" value="1" ngModel></td>
          <td><img src="../../assets/icons/star_1.png"><span> & up</span></td>
        </tr>
      </div>
      <div id="price">
        <p>Price:</p>
        <tr>
          <td>
            <input type="radio" name="price" value="greaterThan" (click)="clearField('greaterThan')" ngModel>
          </td>
          <td>
            Greater than <input type="text" name="greaterThanValue"  [(ngModel)]="greaterThanValue" ngModel>
          </td>
        </tr>
        <tr>
          <td>
            <input type="radio" name="price" value="lessThan" (click)="clearField('lessThan')" ngModel>
          </td>
          <td>
            Less than <input type="text" name="lessThanValue" [(ngModel)]="lessThanValue" ngModel>
          </td>
        </tr>
        <tr>
          <td>
            <input type="radio" name="price" value="inBetween" (click)="clearField('inBetween')" ngModel>
          </td>
          <td>
            In Between <input type="text" name="inBetweenValue1" [(ngModel)]="inBetweenValue1" ngModel> & <input type="text" name="inBetweenValue2" [(ngModel)]="inBetweenValue2" ngModel>
          </td>
        </tr>
      </div>
      <input type="submit" value="Filter Results">
    </form>
  </div>
  <div id="content">
    <span id="keywords-display">
      Displaying the results for 
      <b *ngIf="!qParams.keywords && !!qParams.tag; else elseBlock">"{{qParams.tag}}" category</b>
      <ng-template #elseBlock>"{{qParams.keywords}}"</ng-template>.
    </span>
    <p id="matches" *ngIf="results.total == 0">No matches found.</p>
    <p id="matches" *ngIf="results.total == 1">Found {{results.total}} match.</p>
    <p id="matches" *ngIf="results.total > 1">Found {{results.total}} matches.</p>
    
    <div id="result" *ngFor="let book of results.docs">
      <div class="item">
        <div class="container-img">
          <a [routerLink]="['/book', book['product_id']]"><img src="../../assets/book_covers/{{book['UPC']}}.jpg"></a>
        </div>
        <div class="container-text">
          <a [routerLink]="['/book', book['product_id']]"><p class="title">{{book['title']}}</p></a>
          <img class="rating" src="../../assets/icons/star_{{book['rating']}}.png">
          <p class="price">{{book['price_USD'] | currency}}</p>
          <p class="availability">In stock ({{book['availability']}} available)</p>
          <input class="cart" type="button" value="Add to Cart" (click)="addToCart(book.product_id)">
        </div>  
      </div>
    </div>
  </div>
</div>
<div class="pagination">
  <a *ngIf="qParams.page > 1" class="page-number" [routerLink]="['/search']" [queryParams]="navigateParams('first')"><<</a>
  <a *ngIf="qParams.page > 1" class="page-number" [routerLink]="['/search']" [queryParams]="navigateParams('previous')"><</a>  
  <a *ngFor="let page of pageIndices" class="page-number" [routerLink]="['/search']" [queryParams]="navigateParams(page)">{{page}}</a>
  <a *ngIf="qParams.page < results.pages" class="page-number" [routerLink]="['/search']" [queryParams]="navigateParams('next')">></a>
  <a *ngIf="qParams.page < results.pages" class="page-number" [routerLink]="['/search']" [queryParams]="navigateParams('last')">>></a>
</div>