<div class="container">
  <div id="registered-user" class="login-form">
    <h2>
      Log In
    </h2>
    <form [formGroup]="loginFormControl" (ngSubmit)="loginOnSubmit()">
      <table>
        <tr>
          <td>
            Email Address:
          </td>
          <td>
            <input type="text" formControlName="emailAddress">
          </td>
        </tr>
        <tr>
          <td>
            Password:
          </td>
          <td>
            <input type="password" formControlName="password">
          </td>
        </tr>
      </table>
      <button type="submit">Log In</button>
    </form>
  </div>
  <span id="or">OR</span>
  <div id="guest" class="login-form">
    <h2>
      Continue as Guest
    </h2>
    <form [formGroup]="guestFormControl" (ngSubmit)="guestOnSubmit()">
      <table>
        <tr>
          <td>
            Email Address:
          </td>
          <td>
            <input type="text" formControlName="emailAddress">
          </td>
        </tr>
        <tr>
          <td>
            Confirm Email Address:
          </td>
          <td>
            <input type="text">
          </td>
        </tr>
        <tr>
        </tr>
      </table>
      <div id="checkbox">
      <input type="checkbox" value="subscribe">Subscribe to receive great deals and promotions.
      </div>
      <button type="submit">Continue</button>
    </form>
  </div>
</div>